*.o
*.a
test_frame
test_container
test_bitstream
test_colorspace
test_dct
test_quant
test_e2e
test_e2e_asan
*.dSYM/
craprec
crapplay
crappr
recordings/
*.crap
.idea/
.DS_Store
crap-*.tar.gz
crap-*.zip
